body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(27, 27, 27);
}

.bodylight {
  background-color: rgb(193, 193, 193);
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: white;
}

h1, h2, h3 {
  margin: 0;
}

/* Header styles */
header {
  background-color: rgb(18, 18, 18);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.headerlight {
  background-color: grey;
}

.header-left {
  display: flex;
  color: rgb(255, 255, 255);
  flex-direction: column;
  align-items: flex-start;
}

.header-left h1 {
  font-size: 28px;
  font-weight: bold;
}

.header-right ul {
  display: flex;
  color: rgb(119, 119, 119);
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Main styles */

main {
  margin-top: 50px;
  padding: 50px;
}

section {
  margin-bottom: 50px;
}

section h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.circle-image {
  border-radius: 100%;
  width: 300px;
  border: 10px solid rgb(18, 18, 18);
  box-shadow: 0px 0px 20px rgb(255, 255, 255, 0.35);
}

.circle-image-light {
  border: 10px solid grey;
  box-shadow: 0px 0px 20px rgba(0, 0, 0);
}

.album-image {
  border: 3px solid black;
  box-shadow: 0px 0px 20px rgb(255, 255, 255, 0.35);
  margin-top: 20px;
  width: 300px;
  margin-right: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.aboutmeheader {
  color: white;
  font-size: 28px;
  font-weight: bold;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.aboutmeheaderlight {
  color: black;
}

.aboutmeinfo {
  color: grey;
  font-size: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.aboutmeinfolight {
  color: black;
}

.aboutmeinfo2 {
  color: grey;
  font-size: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.aboutmeinfolight2 {
  color: black;
}

.project {
  display: flex;
  margin-bottom: 30px;
}

.project img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin-right: 30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menubutton1 {
  background-color: transparent;
  border: transparent;
  display: flex;
  justify-content: flex-start;
  color: white;
  padding-bottom: 5px;
  font-size: 16px;
}

.menubutton1:hover {
  color:rgb(119, 119, 119);
}

.menubutton1light:hover {
  color:rgb(65, 65, 65);
}

.menubutton2 {
  background-color: transparent;
  border: transparent;
  display: flex;
  justify-content: flex-start;
  color: white;
  padding-bottom: 5px;
  font-size: 16px;
}

.menubutton2:hover {
  color:rgb(119, 119, 119);
}

.menubutton2light:hover {
  color:rgb(65, 65, 65);
}

.menubutton3 {
  background-color: transparent;
  border: transparent;
  display: flex;
  justify-content: flex-start;
  color: white;
  padding-bottom: 5px;
  font-size: 16px;
}

.menubutton3:hover {
  color:rgb(119, 119, 119);
}

.menubutton3light:hover {
  color:rgb(65, 65, 65);
}

.menubutton4 {
  background-color: transparent;
  border: transparent;
  display: flex;
  justify-content: flex-start;
  color: white;
  padding-bottom: 5px;
  font-size: 16px;
}

.menubutton4:hover {
  color:rgb(119, 119, 119);
}

.menubutton4light:hover {
  color:rgb(65, 65, 65);
}

/* Contact form styles */
.contact-form {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(255, 255, 255, 0.35);
  background-color: rgb(18, 18, 18);
  justify-content: center;
  align-items: center;
}

.contact-formlight {
  background-color: grey;
  box-shadow: 0px 0px 20px rgba(0, 0, 0);
  color: black;
}

.form-group {
  margin-bottom: 20px;
  overflow: hidden;
}

label {
  display: block;
  margin-bottom: 5px;
}

.inputarea1 {
  overflow: hidden;
  width: 98%;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
  overflow: hidden;
  background-color: rgb(27, 27, 27);
  color: white;
}

.inputarea1light {
  border: 1px solid black;
  background-color: rgb(193, 193, 193);
  color: black;
}

.inputarea2 {
  overflow: hidden;
  width: 98%;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
  overflow: hidden;
  background-color: rgb(27, 27, 27);
  color: white;
}

.inputarea2light {
  border: 1px solid black;
  background-color: rgb(193, 193, 193);
  color: black;
}

.inputarea3 {
  overflow: hidden;
  width: 98%;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
  overflow: hidden;
  background-color: rgb(27, 27, 27);
  color: white;
}

.inputarea3light {
  border: 1px solid black;
  background-color: rgb(193, 193, 193);
  color: black;
}

button[type="submit"] {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}


/* Footer styles */

.footer {
  background-color: rgb(18, 18, 18);
  color: #fff;
  text-align: center;
  padding: 20px;
}

.footerlight {
  background-color: grey;
  color: rgb(0, 0, 0);
}

/* skills dropdown */
.skills-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.skillsdropdown-btn {
  display: block;
  background-color: rgb(18, 18, 18);
  color: white;
  cursor: pointer;
  height: 50px;
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  border-width: 0;
}

.skillsdropdown-btnlight {
  background-color: grey;
  color: black;
}

.buttonbox {
  width: 90%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;  
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(255, 255, 255, 0.35);
  background-color:  rgb(18, 18, 18);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonboxlight {
  background-color: grey;
  color: black;
  box-shadow: 0px 0px 20px rgba(0, 0, 0);
}

.skillsdropdown-content {
  display: none;
  z-index: 1; 
  width: 90%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 10px;
  border-radius: 10px;
  background-color:  rgb(18, 18, 18);
  color: white;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.skillsdropdown-contentlight {
  background-color: grey;
  color: black;
}

.skillsdropdown-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skillsdropdown-content li {
  padding: 12px 16px;
  font-size: 16px;
}

.skillsdropdown-content li:hover {
  color: grey; /* color when you scroll over the dropdown skills */
}

.skillsshow {
  display: flex;
}

.skillsfeatures {
  margin-top: 40px; /* add this to create space between the dropdown and the features */
}

.skillsmove-down {
  margin-top: 80px; /* move the contactme down by 200 pixels */
  /* transition: margin-top 2s ease-in-out */
}

/* menu dropdown */
.menu-dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 20px; /* add this to make room for the features below */
}

.menudropdown-btn {
  background-color: white; /*button color*/
  border-radius: 5px;
  color: black;
  padding: 6px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.menudropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding-right: 100%;
  background-color: rgb(18, 18, 18); /* color of the skills */
  z-index: 1;
}

.menudropdown-contentlight {
  background-color: grey;
}

.menudropdown-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.menudropdown-content li {
  padding: 8px 35px;
  font-size: 16px;
  color: white;
}

.menudropdown-content li:hover {
  color: grey;
}

.menushow {
  display: block;
}

.box {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(255, 255, 255, 0.35);
  background-color: rgb(18, 18, 18);
}

.boxlight {
  box-shadow: 0px 0px 20px rgba(0, 0, 0);
  background-color: grey;
}

.box2 {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(255, 255, 255, 0.35);
  background-color: rgb(18, 18, 18);
}

.boxlight2 {
  box-shadow: 0px 0px 20px rgba(0, 0, 0);
  background-color: grey;
}

.album-name {
  color: white;
  font-size: 28px;
  font-weight: bold;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.album-namelight {
  color: black;
}

.album-info {
  color: grey;
  font-size: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.album-infolight {
  color: black;
}

.album-projects {
  background-color: rgb(18, 18, 18);
  color: white; /* what the buttons are using*/
  border-width: 0px;
  font-size: 20px;
  width: 100%;
  padding-bottom: 25px;
  height: 40px;
  border-radius: 10px;
}

.album-projectslight {
  background-color: grey;
  color: black;
}

.album-projects:hover {
  background-color: rgb(44, 44, 44);
}

.album-projects:active {
  background-color: rgb(65, 65, 65);
}

.album-projectslight:hover {
  background-color: rgb(158, 158, 158);
}

.album-projectslight:active {
  background-color: rgb(191, 191, 191);
}

.album-projects2 {
  background-color: rgb(18, 18, 18);
  color: white; /* what the buttons are using*/
  border-width: 0px;
  font-size: 20px;
  width: 100%;
  padding-bottom: 25px;
  height: 40px;
  border-radius: 10px;
}

.album-projectslight2 {
  background-color: grey;
  color: black;
}

.album-projects2:hover {
  background-color: rgb(44, 44, 44);
}

.album-projects2:active {
  background-color: rgb(65, 65, 65);
}

.album-projectslight2:hover {
  background-color: rgb(158, 158, 158);
}

.album-projectslight2:active {
  background-color: rgb(191, 191, 191);
}

.album-projects3 {
  background-color: rgb(18, 18, 18);
  color: white; /* what the buttons are using*/
  border-width: 0px;
  font-size: 20px;
  width: 100%;
  padding-bottom: 25px;
  height: 40px;
  border-radius: 10px;
}

.album-projectslight3 {
  background-color: grey;
  color: black;
}

.album-projects3:hover {
  background-color: rgb(44, 44, 44);
}

.album-projects3:active {
  background-color: rgb(65, 65, 65);
}

.album-projectslight3:hover {
  background-color: rgb(158, 158, 158);
}

.album-projectslight3:active {
  background-color: rgb(191, 191, 191);
}

.album-projects4 {
  background-color: rgb(18, 18, 18);
  color: white; /* what the buttons are using*/
  border-width: 0px;
  font-size: 20px;
  width: 100%;
  padding-bottom: 25px;
  height: 40px;
  border-radius: 10px;
}

.album-projectslight4 {
  background-color: grey;
  color: black;
}

.album-projects4:hover {
  background-color: rgb(44, 44, 44);
}

.album-projects4:active {
  background-color: rgb(65, 65, 65);
}

.album-projectslight4:hover {
  background-color: rgb(158, 158, 158);
}

.album-projectslight4:active {
  background-color: rgb(191, 191, 191);
}

.ProjectTitle {
  position: absolute; 
  left: 12%;
}

.ProjectDuration {
  position: absolute; 
  left: 48%;
  font-size: 16px;
  color: grey;
  margin-top: 2px;
}

.ProjectDurationlight {
  color: black;
}

.Project2Duration {
  position: absolute; 
  left: 48%;
  font-size: 16px;
  color: grey;
  margin-top: 2px;
}

.Project2Durationlight {
  color: black;
}

.Project3Duration {
  position: absolute; 
  left: 48%;
  font-size: 16px;
  color: grey;
  margin-top: 2px;
}

.Project3Durationlight {
  color: black;
}

.Project4Duration {
  position: absolute; 
  left: 48%;
  font-size: 16px;
  color: grey;
  margin-top: 2px;
}

.Project4Durationlight {
  color: black;
}

.ProjectSkills {
  position: absolute; 
  right: 12%;
  font-size: 16px;
  color: white;
  margin-top: 1px;
  padding: 2px;
  border: 1px solid white;
  border-radius: 5px;
}

.ProjectSkillslight {
  color: black;
  border: 1px solid black;
}

.ProjectSkills2 {
  position: absolute; 
  right: 12%;
  font-size: 16px;
  color: white;
  margin-top: 1px;
  padding: 2px;
  border: 1px solid white;
  border-radius: 5px;
}

.ProjectSkills2light {
  color: black;
  border: 1px solid black;
}

.ProjectSkills3 {
  position: absolute; 
  right: 12%;
  font-size: 16px;
  color: white;
  margin-top: 1px;
  padding: 2px;
  border: 1px solid white;
  border-radius: 5px;
}

.ProjectSkills3light {
  color: black;
  border: 1px solid black;
}

.ProjectSkills4 {
  position: absolute; 
  right: 12%;
  font-size: 16px;
  color: white;
  margin-top: 1px;
  padding: 2px;
  border: 1px solid white;
  border-radius: 5px;
}

.ProjectSkills4light {
  color: black;
  border: 1px solid black;
}

/* attempt */
.container {
  overflow: hidden;
  display: flex;
}

.album-projects-container {
  overflow: hidden;
}

.image img {
  max-width: 100%;
}

.text {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.text h2,
.text p {
  margin-top: 0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  
  .image img{
    margin-right: 0px;
  }

  .album-image {
    margin-bottom: 20px;
    margin-right: 0px;
  }

  .album-name {
    flex-direction: column;
    align-items: center;
  }

  .album-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .text {
    margin-left: 0;
  }

  .ProjectDuration, .Project2Duration, .Project3Duration, .Project4Duration {
    display: none;
  }
}

/* this is the pop-up for the album */
/* Popup styles */

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgb(255, 255, 255, 0.35);
}

/* Button styles */
.hidden {
  display: none;
}

.project-show {
  display: block;
}

.hidden1 {
  display: none;
}

.project-show1 {
  display: block;
}

.hidden2 {
  display: none;
}

.project-show2 {
  display: block;
}

.hidden3 {
  display: none;
}

.project-show3 {
  display: block;
}

.hidden4 {
  display: none;
}

.project-show4 {
  display: block;
}

.ProjectInformation {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(18, 18, 18);
  z-index: 999;
  height: 380px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: row;
}

.ProjectInformationlight {
  background-color: grey;
}

.Project2Information {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(18, 18, 18);
  z-index: 999;
  height: 380px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: row;
}

.Project2Informationlight {
  background-color: grey;
}

.Project3Information {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(18, 18, 18);
  z-index: 999;
  height: 380px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: row;
}

.Project3Informationlight {
  background-color: grey;
}

.Project4Information {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(18, 18, 18);
  z-index: 999;
  height: 380px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: row;
}

.Project4Informationlight {
  background-color: grey;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65); /* semi-transparent black */
  z-index: 100; /* ensure it's on top */
}

.pagetop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: transparent;
  border-width: 0px;
}

.pagebot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: transparent;
  border-width: 0px;
}

.pageright {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(8% - 60px);
  height: 100%;
  background-color: transparent;
  border-width: 0px;
}

.pageleft {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(8% - 60px);
  height: 100%;
  background-color: transparent;
  border-width: 0px;
}

.popupheader {
  color: white;
  font-size: 28px;
  font-weight: bold;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  padding-bottom: 20px;
}

.projectimage {
  margin-left: 20px;
  float: left;
  height: 250px;
}

.projectdescription {
  padding-left: 20px;
  overflow: hidden;
  color: grey;
  font-size: 14px;
  display: flex;
}

.projectdescriptionlight {
  color: black;
}

.projectdescription1 {
  padding-left: 20px;
  overflow: hidden;
  color: grey;
  font-size: 14px;
  display: flex;
}

.projectdescription1light {
  color: black;
}

.projectdescription2 {
  padding-left: 20px;
  overflow: hidden;
  color: grey;
  font-size: 14px;
  display: flex;
}

.projectdescription2light {
  color: black;
}

.projectdescription3 {
  padding-left: 20px;
  overflow: hidden;
  color: grey;
  font-size: 14px;
  display: flex;
}

.projectdescription3light {
  color: black;
}

.profile-images /*github, linkedin, etc*/ {
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50%;
  margin-left: 20px;
}

.linksandskills {
  padding-top: 20px;
  padding-left: 60px;
  float: left;
  align-items: left;
  position: flex;
  margin-right: 75px;
  position: relative;
  justify-content: flex-start;
}

.skillsonright {
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  flex: 1;
  margin: 30px 5px;
}

.skillscontainer {
  display: flex; /* Add display flex to the parent div */
  justify-content: space-between; /* Use space-between to evenly space the items */
  align-items: center; /* Center the items vertically */
  width: 100%;
  flex: 1;
}

.lightdarkswitch {
  background-color: white;
  border-radius: 5px;
  color: black;
  padding: 6px 0px;
  margin-right: 5px;
  width: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.lightdarkswitched {
  background-color: rgb(27, 27, 27);
}

.button-image {
  border-radius: 100%;
  align-items: center;
  bottom: 0;
  left: 50%;
  transform: translateY(-50%);
}

.button-image-up {
  transform: translateY(50%);
}

html {
  scroll-behavior: smooth;
  scroll-behavior: cubic-bezier(100.0, 200.0, 3000.0, 100.0);
}

@media (max-width: 550px) {
  .circle-image {
    width: 200px;
  }

  .album-image {
    width: 200px;
  }

  .ProjectSkills, .ProjectSkills2, .ProjectSkills3, .ProjectSkills4 {
    display: none;
  }

  .ProjectTitle {
    left: 20%;
  }

  .hide {
    display: none;
  }

  .inputarea1, .inputarea2, .inputarea3 {
    width: 92%;
  }

  .projectimage {
    height: 120px;
    width: 40%; 
    object-fit: scale-down;
    float: none;
    display: block;
    margin: 0 auto;
  }

  .projectdescription, .projectdescription2, .projectdescription3, .projectdescription4 {
    text-align: center;
  }

  .ProjectInformation, .Project2Information, .Project3Information, .Project4Information {
    height: 500px;
  }

  .linksandskills {
    padding-top: 20px;
    float: none;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-left: 35px;
  }
}
